.title{
    color: #09b6fa;
    font-family: cursive;
    animation: titleanimation 10s infinite;
}

.nav{
    color: lightblue;
    font-family: cursive;
    font-size: 20px;
}

.nav-link {
    color: lightblue;
    font-family: cursive;
    font-style: normal;
    text-decoration: none;
    text-shadow: blue 1px 2px;
}

.nav-link:hover {
    color: blue;
    text-decoration: underline;
    text-shadow: lightblue 1px 2px;
}

@keyframes titleanimation {
    0% {
        color: blue;
    }
    50% {
        color: lightblue;
    }
    100%{ 
        color: blue;
    }
}

h1 {
    font-family: cursive;
    color: blue;
    animation: titleanimation infinite 1s;
}
.form {
    border: 5px solid blue;
	box-shadow: blue;
	border-radius: 24px;
	text-align: center;
	margin-top: 50px;
	padding: 30px;
	margin: 100px;
    border-radius: 30px;
}

p {
    font-family: cursive;
    color: blue;
    font-size: 20px;
    margin-top: 30px;
    text-align: left;
}

.form2 {
    border: 5px solid blue;
	box-shadow: blue;
	border-radius: 24px;
	text-align: center;
	margin-top: 50px;
	padding: 30px;
	margin: 100px;
    align-items: center;
    flex: content;
}

.container1{
    text-align: left;
    margin-top: 20px;
}
a {
    font-family: cursive;
    color: blue;
    text-shadow: hsl(0, 5%, 13%) 1px 1px;
    font-size: 20px;
    margin-left: 10px;
}

a:hover {
    font-family: cursive;
    color: blue;
    text-shadow: white 1px 1px;
    font-size: 30px;
    margin-left: 10px;
}

body{
    background-image: url('assets/bg.jpg');
    background-size: cover;
    margin: auto 0;
}

.logo {
    height: 50px;
    width: 50px;
}
.logo1 {
    height: 300px;
    width: 200px;
    border-radius: 50px;
    border: 5px solid blue;
}



